<footer>
  <p>
  <a href="/blog/">Blog</a> |
  <a href="https://twitter.com/iBeaconaBLE" title="@iBeaconaBLE">Twitter</a> |
  <a href="https://www.diigo.com/user/markdown" title="@Markdown">Diigo</a> |
  <a href="http://dev2x.github.io" title="@Dev2x">Dev2x</a> |
  <a href="https://github.com/iBeacons/">GitHub</a>
  </p>

  <p>Copyright@2014 <a href="https://github.com/iBeacons/">iBeacons</a>. <a href="https://creativecommons.org/licenses/by-nc-sa/4.0" title="CC BY-NC-SA">CC BY-NC-SA</a>. Design by Hal Brodigan</p>
</footer>
